In [10]:
#1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

import regex as re

target_string='Python Exercises, PHP exercises.'
replaced_string=re.sub(r'[\s,.]',':',target_string)
print(replaced_string)

Python:Exercises::PHP:exercises:

In [24]:
#2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

import pandas as pd

df=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})
print(df)

df['SUMMARY'].str.replace('[,!X:;.\d]+',"",regex=True)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [25]:
#3. Create a function in python to find all words that are at least 4 characters long in a string.The use of the re.compile() method is mandatory

def find_word_4(target_string):
    regex_pattern=re.compile(r"\w{4}")
    result=regex_pattern.findall(target_string)
    print(result)

find_word_4('hello! welcome to world of python')

['hell', 'welc', 'worl', 'pyth']

In [26]:
#4. Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

def find_word(target_string):
    regex_pattern=re.compile(r"\w{3,5}")
    result=regex_pattern.findall(target_string)
    print(result)
    
find_word('hello! welcome to world of python.It is very easy language for programming')

['hello', 'welco', 'world', 'pytho', 'very', 'easy', 'langu', 'age', 'for', 'progr', 'ammin']

In [44]:
#5. Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

def rmv_parenthesis(sample_text):
    for string in sample_text:
        pattern=re.compile(r"[()]")
        removed_par=pattern.sub("",string)
        print(removed_par)
        
rmv_parenthesis(["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"])

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [9]:
#6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

with open(r"C:\Users\HARIOM\Desktop\Data science (Bhaumik)\Python practise\Q-6_sample_text.txt") as file:
    for line in file:
        rmv_parenthesis=re.sub(r"\b\s[(].?\w+.*[)]","",line)
        print(rmv_parenthesis)

["example"]

In [213]:
#7. Write a regular expression in Python to split a string into uppercase letters.

sample_text='ImportanceOfRegularExpressionsInPython'
pattern=r'[A-Z][^A-Z]*'

split=re.findall(pattern,sample_text)
print(split)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [48]:
#8. Create a function in python to insert spaces between words starting with numbers.

def insert_space(string):
    pattern=r"([A-Za-z]+)(\d+)"
    space_inserted=re.sub(pattern,r'\1 \2',string)
    print(space_inserted)
    
insert_space('RegularExpression1IsAn2ImportantTopic3InPython')

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [49]:
#9. Create a function in python to insert spaces between words starting with capital letters or with numbers. 

def insert_space_1(string):
    pattern=r"([A-Za-z]+)(\d+)"
    space_inserted=re.sub(pattern,r'\1 \2 ',string)
    print(space_inserted)

insert_space_1('RegularExpression1IsAn2ImportantTopic3InPython')

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [367]:
#10. Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

df['first_five_letters']=df['Country'].str.extract(r'(\w{6})')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [50]:
#11. Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

def match_string(target_string):
    pattern=r"^\w+$"
    if re.match(pattern,target_string):
        print('Matched the string')
    else:
        print('Not matching the string')

match_string("welcome to the world of python")

match_string("welcome_to_the_world_of_python")

Not matching the string
Matched the string

In [51]:
#12. Write a Python program where a string will start with a specific number.

def match_string_num(target_string):
    pattern="\d+"
    if re.match(pattern,target_string):
        print('Matched the string')
    else:
        print('Not matching the string')

match_string_num('welcome to the world of python123')

match_string_num('123welcome to the world of python')

Not matching the string
Matched the string

In [52]:
#13. Write a Python program to remove leading zeros from an IP address.

def ip_address_zero_rmv(target_string):
    pattern=r"\b0+"
    result=re.sub(pattern,"",target_string)
    print(result)

ip_address_zero_rmv('192.168.002.0100')

192.168.2.100

In [137]:
#14. Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

with open(r"C:\Users\HARIOM\Desktop\Data science (Bhaumik)\Python practise\Q-14_sample_text.txt") as file:
    for line in file:
        pattern=r'[A-Za-z]+\s\d{2}[A-Za-z]*\s\d{4}'
        dates=re.findall(pattern,line)
        print(dates)

['August 15th 1947']

In [73]:
#15. Write a Python program to search some literals strings in a string.

patterns=['fox', 'dog', 'horse']

for pattern in patterns:
    string='The quick brown fox jumps over the lazy dog.'
    if re.findall(pattern,string):
        print(pattern,': matched the string')
    else:
        print(pattern,': not matching the string')

fox : matched the string
dog : matched the string
horse : not matching the string

In [107]:
#16. Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs.

def matched_string_location(pattern,string):
    matched_string=re.finditer(pattern,string)
    for match in matched_string:
        print(f"matched_string:{match.group()},location:{match.start(),match.end()}")

matched_string_location(r'(fox)','The quick brown fox jumps over the lazy dog.')

matched_string:fox,location:(16, 19)

In [79]:
#17. Write a Python program to find the substrings within a string.

def find_substring(pattern,string):
    substring=re.findall(pattern,string)
    print(substring)
    
find_substring(r'exercises','Python exercises, PHP exercises, C# exercises')

['exercises', 'exercises', 'exercises']

In [106]:
#18. Write a Python program to find the occurrence and position of the substrings within a string.

def substring_occ_position(pattern,text):
    substring=re.finditer(pattern,text)
    for match in substring:
        print(f"substring:{match.group()},position:{match.start(),match.end()}")

substring_occ_position(r'exercises','Python exercises, PHP exercises, C# exercises')

substring:exercises,position:(7, 16)
substring:exercises,position:(22, 31)
substring:exercises,position:(36, 45)

In [64]:
#19. Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

def convert_date_format(string):
    pattern=r'(\d{4})(-\d{2}-)(\d{2})'
    new_format=re.sub(pattern,r'\3\2\1',string)
    print(new_format)        
    
convert_date_format('2021-05-15')

15-05-2021

In [61]:
#20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

def decimal_precision(target_string):
    regex=re.compile(r'\d+\.\d{1,2}\b')
    all_decimals=regex.findall(target_string)
    print(all_decimals)
    
decimal_precision("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

['01.12', '145.8', '3.01', '27.25', '0.25']

In [111]:
#21. Write a Python program to separate and print the numbers and their position of a given string.

def number_position(string):
    pattern=r'\d+'
    regex=re.compile(pattern)
    numbers=regex.finditer(string)
    for match in numbers:
        print(f"number:{match.group()},position:{match.start(),match.end()}")
    
number_position('RegularExpression 1 IsAn 2 ImportantTopic 3 InPython')

number:1,position:(18, 19)
number:2,position:(25, 26)
number:3,position:(42, 43)

In [34]:
#22. Write a regular expression in python program to extract maximum/largest numeric value from a string.

string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern='\d+'
all_numbers=re.findall(pattern,string)
print(all_numbers)

#re.findall give output as list
max_value=max(all_numbers)
print(max_value)

['947', '896', '926', '524', '734', '950', '642']
950

In [21]:
#23. Create a function in python to insert spaces between words starting with capital letters.

def insert_space_capital(target_string):
    pattern=r'([A-Z][a-z]*)'
    result=re.sub(pattern,r'\1 ',target_string)
    print(result)

insert_space('RegularExpressionIsAnImportantTopicInPython')

Regular Expression Is An Important Topic In Python

In [11]:
#24. Python regex to find sequences of one upper case letter followed by lower case letters.

def upper_followed_bylower(string):
    pattern=r'[A-Z][a-z]*'
    result=re.findall(pattern,string)
    print(result)
    
upper_followed_bylower('Importance Of Regular Expressions In Python')

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [4]:
#25. Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

string='Hello hello world world'
pattern=r'\b(\w+)(?:\W+\1\b)+'
result=re.sub(pattern,r'\1',string)
print(result)

Hello hello world

In [96]:
#26. Write a python program using RegEx to accept string ending with alphanumeric character.

def string_ending_with_alnum(string):
    pattern=r'[A-Za-z0-9]$'
    if re.findall(pattern,string):
        print('Accept the string')
    else:
        print('not valid!')
 
string_ending_with_alnum("Importance Of Regular Expressions In Python123")

Accept the string

In [7]:
#27. Write a python program using RegEx to extract the hashtags.

def extract_hashtag(string):
    regex=re.compile(r'#\w+')
    matches=regex.findall(string)
    print(matches)

extract_hashtag("""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""")

['#Doltiwal', '#xyzabc', '#Demonetization']

In [10]:
#28. Write a python program using RegEx to remove <U+..> like symbols.Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

def remove_symbols(string):
    regex=re.compile(r'<U\+[A-Z0-9]+>')
    result=regex.sub("",string)
    print(result)
    
remove_symbols("@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders")

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [138]:
#29. Write a python program to extract dates from the text stored in the text file.

with open(r"C:\Users\HARIOM\Desktop\Data science (Bhaumik)\Python practise\Q-29_sample_text.txt") as file:
    for line in file:
        pattern=r'\d{2}-\d{2}-\d{4}'
        matches=re.findall(pattern,line)
        print(matches)

['12-09-1992', '15-12-1999']

In [22]:
#30. Create a function in python to remove all words from a string of length between 2 and 4.

def remove_words(string):
    pattern=r'\b\w{2,4}\s+\b'
    new_string=re.sub(pattern,"",string)
    print(new_string)
    
remove_words("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.